<?xml version="1.0" encoding="UTF-8"?>
 
 
<beans xmlns="http://www.springframework.org/schema/beans"
   

	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-lazy-init="true">

	<!-- Datasource for LOCAL database connection -->
      
   	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/ifrs" />
		<property name="username" value="root" />
		<property name="password" value="0502" />

	</bean>
		<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.ifrs.shared.User</value>
				<value>com.ifrs.shared.Company</value>
				<value>com.ifrs.shared.Domains</value>
				<value>com.ifrs.shared.Sectors</value>
				<value>com.ifrs.shared.SubDomains</value>
				
				
				</list>
		</property>
	</bean>
	<bean id="ManagerExams" class="com.ifrs.database.MySQLRdbHelper">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>

